html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 20px;
}

body > .container {
  padding: 60px 15px 0;
}

a.red,
a.red:focus,
a.red:hover {
  color: red;
}

.inline {
  display: inline !important;
}

.yes1 {
  width: 30px;
}

.good1 {
  width: 30px;
}

.fair1 {
  width: 30px;
}

.poor1 {
  width: 30px;
}

.no1 {
  width: 30px;
}

.survey61 {
  width: 30px;
}

.survey62 {
  width: 30px;
}

.survey63 {
  width: 30px;
}

.survey64 {
  width: 30px;
}

.survey65 {
  width: 30px;
}

.survey66 {
  width: 30px;
}

.english {
  width: 30px;
}

.korean {
  width: 30px;
}

.others {
  width: 30px;
}

.depressed {
  width: 30px;
}

.stressed {
  width: 30px;
}

.anxious {
  width: 30px;
}

.angry {
  width: 30px;
}

.feel-nothing {
  width: 30px;
}

.family {
  width: 30px;
}

.friends {
  width: 30px;
}

.relationship {
  width: 30px;
}

.additction {
  width: 30px;
}

.academic-concerns {
  width: 30px;
}

.financial-concerns {
  width: 30px;
}

.self-esteem {
  width: 30px;
}

.confidence {
  width: 30px;
}

.survey11 {
  width: 30px;
}

.survey12 {
  width: 30px;
}

.survey13 {
  width: 30px;
}

.survey14 {
  width: 30px;
}

.survey15 {
  width: 30px;
}
