
{{ define "content" }}

<div id="wrapper">
        <div id="page" class="container">
            <div id="content">
                <div id="banner"> <img src="public/images/main1.jpg" width="790" height="300" alt="" /> </div>
                <div class="title">
                    <h2><strong>MAUM - </strong>You have a right to be happy</h2>
                    <span class="byline">Living in a different country as a foreigner and trying to achieve your full potential is hard. Our aim is to enable foreigners to find solutions to their complicated personal situations, to improve their individual skills, to gain knowledge of and orientation in the Korean social and institutional environment. We are determined to help foreigners with social integration into the majority society, and to help them use available resources, networks and services to live normal, stable lives. </span> </div>
                <div id="two-column">
                    <div id="tbox1">
                        <div class="title">
                            <h2>Doctors</h2>
                        </div>
                        <ul class="style2">
                            <li><a href="#">Dr. Jane</a></li>
                            <li><a href="#">Dr. Seoulhwa</a></li>
                            <li><a href="#">Dr. Moonyoung</a></li>
                            <li><a href="#">Dr. Jieun</a></li>
                            <li><a href="#">Dr. Brain</a></li>
                        </ul>
                        <a href="#" class="icon icon-file-alt button">Read More</a> </div>
                    <div id="tbox2">
                        <div class="title">
                            <h2>Tell Yourself</h2>
                        </div>
                        <p><img src="public/images/main2.jpg" width="370" height="170" alt="" /></p>
                        <p>Do you have a problem? Are you finding it hard to adapt to a new place and new atmosphere? We will help you with it. Find your coach, live a happy life!</p>
                        <a href="#" class="icon icon-ok button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{{ end }}
