{{ define "content" }}

<div id="wrapper">
  <div id="page" class="container">
    <div id="content">
        <h2>Ask professional!</h2>
        <h3>The profile you see is the doctors matched by your servey.</h3>
        <br>
        <p>Do you want to contact your doctor?</p>
        <p>According to the matching algorithm, doctors are matched for your problem. Our MAUM experts are doctors of choice and can speak many languages. Consult an expert on your problem.</p>

        <div class="boxA">
            <div class="box margin-btm">
              <img src="public/images/doctor1.jpg" width="320" height="180" alt="" />
              <div class="details">
                <p>location: Busan
                    #Anxiety, Stress, Anger, Couples (Relationships), Life Changes, Depression, Family
                    </p>
              </div>
              <a href="/new" class="button">Consult Dr. Jane
                </a>
            </div></br>
          </div></br>

          <div class="boxB">
            <div class="box">
              <img src="public/images/doctor3.jpg" width="320" height="280" alt="" />
              <div class="details">
                <p>location: Incheon
                    # Anxiety, Trauma, Parenting
                    </p>
              </div>
              <a href="/new" class="button">Consult Dr. Moonyoung</a>
            </div></br>
          </div></br>

          <div class="boxC">
            <div class="box">
              <img src="public/images/doctor5.jpg" width="320" height="200" alt="" />
              <div class="details">
                <p>location: Seoul
                    #  Schizophrenia, Addiction/Substance Abuse, ADHD, Autism, Stress, Suicidality, and Adjustment Disorder</p>
              </div>
              <a href="/new" class="button">Consult Dr. Brain</a>
            </div>
          </div>
    </div>
  </div>
</div>

{{ end }}