{{ define "content" }}

<div id="wrapper">
  <div id="page" class="container">
    <div id="content">

        <div class="boxA">
            <div class="box margin-btm">
              <img src="public/images/doctor1.jpg" width="320" height="180" alt="" />
              <div class="details">
                <p>location: Busan
                    #Anxiety, Stress, Anger, Couples (Relationships), Life Changes, Depression, Family
                    </p>
              </div>
              <a href="#" class="button">Dr. Jane
                </a>
            </div></br>
            <div class="box">
              <img src="public/images/doctor2.jpg" width="320" height="220" alt="" />
              <div class="details">
                <p>location: Daegu
                    # Trauma, Addiction/Substance Abuse, ADHD
                    </p>
              </div>
              <a href="#" class="button">Dr. Seoulhwa</a>
            </div>
          </div></br>

          <div class="boxB">
            <div class="box">
              <img src="public/images/doctor3.jpg" width="320" height="280" alt="" />
              <div class="details">
                <p>location: Incheon
                    # Anxiety, Trauma, Parenting
                    </p>
              </div>
              <a href="#" class="button">Dr. Moonyoung</a>
            </div></br>
            <div class="box">
              <img src="public/images/doctor4.jpg" width="320" height="140" alt="" />
              <div class="details">
                <p>location: Busan
                    # Ethnic Identity/Cultural Issues, Couples, Family, Religious/Spiritual Issues
                    </p>
              </div>
              <a href="#" class="button">Dr. Jieun</a>
            </div>
          </div></br>

          <div class="boxC">
            <div class="box">
              <img src="public/images/doctor5.jpg" width="320" height="200" alt="" />
              <div class="details">
                <p>location: Seoul
                    #  Schizophrenia, Addiction/Substance Abuse, ADHD, Autism, Stress, Suicidality, and Adjustment Disorder</p>
              </div>
              <a href="#" class="button">Dr. Brain</a>
            </div>
          </div>
    </div>
  </div>
</div>

{{ end }}