<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>팀이름</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/public/css/default.css">
<link rel="stylesheet" href="/public/css/fonts.css">
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>

<div id="header-wrapper2">
	<div id="header" class="container">
		
		<div id="logo">
			<h1><a href="#" class="icon icon-group"><span>팀이름</span></a></h1>
		</div>
		<div id="menu">
			
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">팀 이름</a></li>
				<li><a href="/doctors" accesskey="2" title="">DOCTORS</a></li>
				<li><a href="/survey" accesskey="3" title="">FAQ</a></li>
				<li><a href="/contact" accesskey="4" title="">Contact Us</a></li>
			</ul>
		</div>
	</div>
</div>


<div id="wrapper">
        <div id="page" class="container">
            <div id="content">
				{{ template "content" . }}
			</div>
		</div>
</div>

<div id="portfolio-wrapper">
	<div id="portfolio" class="container">
		<div class="title">
			<h2>Praesent scelerisque scelerisque</h2>
		</div>
		<p class="description">In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Praesent pellentesque facilisis elit. Class aptent taciti sociosqu torquent per conubia nostra inceptos hymenaeos.</p>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; ㅁㄴㄹㅇㅁㄹㄴ. | ㅁㄴㅇㄹㄹㄴㅁh</a> | ㅁㄴㅇㄹㄴㅁㅇㄹㅁㄹㄴㅇ</a>.</p>
</div>
</body>
</html>
