{{ define "content" }}



<h1>CONSULT</h1>
<Br>
<p>We'll gather your basic information and find a suitable expert. Through simple mind and questionnaire, you can match with experts using maum matching algorithm.</p>
<hr>

<section>
	<form action="/doctorSelect" method="GET">
		<div class="hex_row_odd"> 
			<div class="center">
				<div class="hexagon">
					<div class="hex1">
						<div class="hex2" style="background: center no-repeat">
							<div class="desc">
							</br>
								<h3>1. Have you ever been in counseling or therapy before?</h2></br>
								<input class="yes1" type="radio" name="survey1" value="yes" id="radioButton1" /><label for="survey1">yes</label>
								<input class="no1" type="radio" name="survey1" value="no" id="radioButton2" /><label for="survey1">no</label>
							</div>
							</br>  
						</div><!--/hex2--> 
					</div><!--/hex1-->
				</div><!--/hexagon--> 
			</div><!--/center-->
			
			<div class="center">
				<div class="hexagon">
					<div class="hex1">
						<div class="hex2" style="background: center no-repeat">
							<div class="desc">
								<h3>2. How would you rate your current physical health?</h3></br>
								<input class="good1" type="radio" name="survey2" value="Good" id="radioButton3" /><label for="survey2">Good</label>
								<input class="fair1" type="radio" name="survey2" value="Fair" id="radioButton4" /><label for="survey2">Fair</label>
								<input class="poor1" type="radio" name="survey2" value="Poor" id="radioButton5" /><label for="survey2">Poor</label>
							</div> 
							</br> 
						</div><!--/hex2--> 
					</div><!--/hex1-->
				</div><!--/hexagon--> 
			</div><!--/center--> 
			
			<div class="center">
				<div class="hexagon">
					<div class="hex1">
						<div class="hex2" style="background: center no-repeat">
								<div class="desc">
									<h3>3. How would you rate your current sleeping habits?</h3></br>
									<input class="good1" type="radio" name="survey3" value="Good" id="radioButton6" /><label for="survey3">Good</label>
									<input class="fair1" type="radio" name="survey3" value="Fair" id="radioButton7" /><label for="survey3">Fair</label>
									<input class="poor1" type="radio" name="survey3" value="Poor" id="radioButton8" /><label for="survey3">Poor</label>
								</div> 
								</br> 
						</div><!--/hex2--> 
					</div><!--/hex1-->
				</div><!--/hexagon--> 
			</div><!--/center--> 
		</div><!--/hex_row_even-->

		<div class="hex_row_even"> 
			<div class="center">
				<div class="hexagon">
					<div class="hex1">
						<div class="hex2" style="background: center no-repeat">
							<div class="desc">
								<h3>4. How would you rate your current eating habits?</h3></br>
								<input class="good1" type="radio" name="survey4" value="Good" id="radioButton9" /><label for="survey4">Good</label>
								<input class="fair1" type="radio" name="survey4" value="Fair" id="radioButton10" /><label for="survey4">Fair</label>
								<input class="poor1" type="radio" name="survey4" value="Poor" id="radioButton11" /><label for="survey4">Poor</label>
							</div> 
							</br>  
						</div><!--/hex2--> 
					</div><!--/hex1-->
				</div><!--/hexagon--> 
			</div><!--/center-->
			
			<div class="center">
				<div class="hexagon">
					<div class="hex1">
						<div class="hex2" style="background: center no-repeat">
							<div class="desc">
								<h3>5. How would you rate your current financial status?</h3></br>
								<input class="good1" type="radio" name="survey5" value="Good" id="radioButton12" /><label for="survey5">Good</label>
								<input class="fair1" type="radio" name="survey5" value="Fair" id="radioButton13" /><label for="survey5">Fair</label>
								<input class="poor1" type="radio" name="survey5" value="Poor" id="radioButton14" /><label for="survey5">Poor</label>
							</div> 
							</br>  
						</div><!--/hex2--> 
					</div><!--/hex1-->
				</div><!--/hexagon--> 
			</div><!--/center--> 
			
			<div class="center">
				<div class="hexagon">
					<div class="hex1">
						<div class="hex2" style="background: center no-repeat">
							<div class="desc">
								<h3>6. When was the last time you had a plan to commit suicide?</h3></br>
								<input class="survey61" type="radio" name="survey6" value="Never" id="radioButton15" /><label for="survey6">Never</label>
								<input class="survey62" type="radio" name="survey6" value="over a year ago" id="radioButton16" /><label for="survey6">over a year ago</label>
								<input class="survey63" type="radio" name="survey6" value="over 3 months ago" id="radioButton17" /><label for="survey6">over 3 months ago</label>
								<input class="survey64" type="radio" name="survey6" value="over a month ago" id="radioButton18" /><label for="survey6">over a month ago</label>
								<input class="survey65" type="radio" name="survey6" value="over a week ago" id="radioButton19" /><label for="survey6">over a week ago</label>
								<input class="survey66" type="radio" name="survey6" value="this week" id="radioButton20" /><label for="survey6">this week</label>
							</div> 
							</br>   
						</div><!--/hex2--> 
					</div><!--/hex1-->
				</div><!--/hexagon--> 
			</div><!--/center--> 
			
		<div class="center">
				<div class="hexagon">
					<div class="hex1">
						<div class="hex2" style="background: center no-repeat">
							<div class="desc">
								<h3>7. What kind of languages do you prefer to talk?</h3></br>
								<input class="english" type="radio" name="survey7" value="English" id="radioButton21" /><label for="survey7">English</label>
								<input class="korean" type="radio" name="survey7" value="Korean" id="radioButton22" /><label for="survey7">Korean</label>
								<input class="others" type="radio" name="survey7" value="Others" id="radioButton23" /><label for="survey7">Others</label>
								<input class="other-etc" type="text" value="" />
							</div> 
							</br> 
						</div><!--/hex2--> 
					</div><!--/hex1-->
				</div><!--/hexagon--> 
			</div><!--/center--> 
			
		</div><!--/hex_row_even--> 
			
		<div class="hex_row_odd"> 
			<div class="center">
				<div class="hexagon">
					<div class="hex1">
						<div class="hex2" style="background: center no-repeat">
							<div class="desc">
								<h3>8. How does the problem typically make you feel?</h3></br>
								<input class="depressed" type="checkbox" name="survey8" value="depressed" id="checkbox1" /><label for="survey8">depressed</label>
								<input class="stressed" type="checkbox" name="survey8" value="stressed" id="checkbox2" /><label for="survey8">stressed</label>
								<input class="anxious" type="checkbox" name="survey8" value="anxious" id="checkbox3" /><label for="survey8">anxious</label>
								<input class="angry" type="checkbox" name="survey8" value="angry" id="checkbox4" /><label for="survey8">angry</label>
								<input class="feel-nothing" type="checkbox" name="survey8" value="feel nothing" id="checkbox5" /><label for="survey8">feel nothing</label>
							</div> 
							</br>  
						</div><!--/hex2--> 
					</div><!--/hex1-->
				</div><!--/hexagon--> 
			</div><!--/center-->
			
			<div class="center">
				<div class="hexagon">
					<div class="hex1">
						<div class="hex2" style="background: center no-repeat">
							<div class="hex2" style="background: center no-repeat">
								<div class="desc">
									<h3>9. what kind of problem do you have?</h3></br>
									<input class="family" type="checkbox" name="survey9" value="family" id="checkbox6" /><label for="survey9">family</label>
									<input class="friends" type="checkbox" name="survey9" value="friends" id="checkbox7" /><label for="survey9">friends</label>
									<input class="relationship" type="checkbox" name="survey9" value="relationship" id="checkbox8" /><label for="survey9">relationship</label>
									<input class="additction" type="checkbox" name="survey9" value="additction" id="checkbox9" /><label for="survey9">additction</label>
									<input class="academic-concerns" type="checkbox" name="survey9" value="academic concerns" id="checkbox10" /><label for="survey9">academic concerns</label>
									<input class="financial-concerns" type="checkbox" name="survey9" value="financial concerns" id="checkbox11" /><label for="survey9">financial concerns</label>
									<input class="self-esteem" type="checkbox" name="survey9" value="self-esteem" id="checkbox12" /><label for="survey9">self-esteem</label>
									<input class="confidence" type="checkbox" name="survey9" value="confidence" id="checkbox13" /><label for="survey9">confidence</label>
								</div> 
								</br>  
						</div><!--/hex2--> 
					</div><!--/hex1-->
				</div><!--/hexagon--> 
			</div><!--/center--> 
			
			<div class="center">
				<div class="hexagon">
					<div class="hex1">
						<div class="hex2" style="background: center no-repeat">
							<div class="desc">
								<h3>10. What is your orientation?</h3></br>
								<input class="survey11" type="radio" name="survey10" value="staright" id="radioButton24" /><label for="survey10">staright</label>
								<input class="survey12" type="radio" name="survey10" value="gay" id="radioButton25" /><label for="survey10">gay</label>
								<input class="survey13" type="radio" name="survey10" value="lesbian" id="radioButton26" /><label for="survey10">lesbian</label>
								<input class="survey14" type="radio" name="survey10" value="bisexual" id="radioButton27" /><label for="survey10">bisexual</label>
								<input class="survey15" type="radio" name="survey10" value="not sure" id="radioButton128" /><label for="survey10">not sure</label>
							</div> 
							</br> 
						</div><!--/hex2--> 
					</div><!--/hex1-->
				</div><!--/hexagon--> 
			</div><!--/center--> 
		</div><!--/hex_row_even-->  

		<button type="submit" class="btn btn-default">Submit</button>

	</form>
	
</section>  


{{ end }}